accelerate==0.33.0
bitsandbytes==0.38.1
datasets==2.12.0
fire==0.5.0
fsspec==2023.5.0
gradio==3.29.0
gradio_client==0.2.2
huggingface-hub==0.23.4
ipykernel
joblib==1.2.0
multiprocess==0.70.14
numpy==1.24.3
openai==0.27.6
# peft==0.3.0
git+https://github.com/huggingface/peft.git@e536616888d51b453ed354a6f1e243fecb02ea08
pydantic==1.10.7
requests==2.30.0
sentence-transformers==2.2.2
sentencepiece==0.1.99
tenacity==8.2.2
tokenize-rt==5.0.0
tokenizer==3.4.2
tokenizers==0.13.3
torch==2.0.1
torchvision==0.15.2
transformers==4.28.0
wandb
